body {
    background-color: #2196F3;
}

.app  {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.app .row {
  margin: 0 auto;
}

.rounded {
    border-radius: 25px !important;
}

.transparent {
    color: rgba(0, 0, 0, 0) !important;
}
